/* idex(first & sec nav) start */
@media only screen and (max-width: 1199px){
    .first_nav,
    #sec_nav 
    {
        display: none;
    }
}
/* idex(first & sec nav) end */


/* index(third nav) start */
@media only screen and (max-width: 991px) {
    .third-nav .delivery-sec {
        display: none !important;
    }

    .navbar-collapse form 
    {
        margin-top: 30px;
    }

    .nav-right  
    {
        margin-top: 15px;
        justify-content: center;
    }
}
/* index(third nav) end */


/* index(newArrival) start */
@media only screen and (max-width: 600px){
    .arrival 
    {
        padding: 0 24px;
    }

    .arrival-header 
    {
        flex-direction: column;
    }

    .arrival .content-1 
    {
        flex-direction: column;
    }

    .content-2  
    {
        margin-top: 10px;
    }
}
/* index(newArrival) end */