*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

li 
{
    list-style: none;
}

:root 
{
    --m-c: #634C9F;
    --fastFont-c: #EA580C;
    --secFont-c: #6B7280;
    --red-c: #DC2626;
}


/* first nav start */
.first_nav 
{
    background: var(--m-c);
}

.sec_nav a
{
    color: var(--secFont-c);
}

.sec_nav p 
{
    color: var(--secFont-c);
}

.sec_nav p span 
{
    color: var(--fastFont-c);
}

.sec_nav select 
{
    color: var(--secFont-c);
    cursor: pointer;
}
/* first nav End */


/* Third nav start  */
.third-nav form
{
    max-width: 450px;
    width: 100%;
    background: #E5E7EB;
}

#navbarSupportedContent .form-control:focus
{
    outline: none;
    box-shadow: none;
}

.third-nav .navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
}
/* third_nav_End */



/* hero sec start */
.hero-nav .almost-sec a
{
    color: var(--fastFont-c)
}

.hero-column-2 
{
    position: relative;
}

.swiper 
{
    width: 100%;
    height: 500px;
}

.swiper-slide img 
{
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-pagination {
    padding: 5px 8px;
    border-radius: 50px;
    backdrop-filter: blur(12000px);
    color: var(--fastFont-c)
}

.slider-content  
{
    position: absolute;
    top: 145px;
    left: 63px;
}

.slider-content .button-sec .btn-primary 
{
    background: var(--m-c);
}

.slider-content h3 
{
    color: var(--secFont-c);
}

.amount-sec .first-paragraph 
{
    color: var(--red-c);
}
/* hero sec End */


/* hero card start */
.hero-card .card p 
{
    font-size: 0.8rem;
}
/* hero card end */


/* banner start */
.banner .card p
{
   color: var(--fastFont-c);
}

.banner .card 
{
    overflow: hidden;
}

.banner .card img 
{
    transition: transform 0.3s ease-in-out;
}

.banner .card:hover  img 
{
    transform: scale(1.1);
}

.banner .card button 
{
    font-size: 0.9rem;
    position: relative;
}

.banner .card button i 
{
    position: absolute;
    top: 9px;
    left: 65%;
}
/* banner end */



/* arrival start */
.arrival .card .organic img 
{
    width: 20px;
}

.arrival-header .content-2 i 
{
    position: relative;
    top: 2px;
}

.arrival .card .card-img-top  
{
    width: 200px;
}

.arrival .card-body a 
{
    border: 1px solid var(--m-c);
    border-radius: 50px;
    color: var(--m-c);
}

.arrival .card-body a i 
{
    position: relative;
    top: 5px;
    transition: 0.3s ease;
}

.arrival .card-body a:hover 
{
    background: var(--m-c);
    color: #fff;
}

.arrival .positional-button 
{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 40px;
    height: 27px;
}

.arrival .positional-button p 
{
    font-size: 0.8rem;
}
/* arrival end */