*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a 
{
    text-decoration: none;
}

li 
{
    list-style: none;
}

:root 
{
    --m-c: #634C9F;
    --fastFont-c: #EA580C;
    --secFont-c: #6B7280;
}


/* first nav start */
.first_nav 
{
    background: var(--m-c);
}

.sec_nav a
{
    color: var(--secFont-c);
}

.sec_nav p 
{
    color: var(--secFont-c);
}

.sec_nav p span 
{
    color: var(--fastFont-c);
}

.sec_nav select 
{
    color: var(--secFont-c);
    cursor: pointer;
}
/* first nav End */


/* Third nav start  */
.third-nav form
{
    max-width: 450px;
    width: 100%;
    background: #E5E7EB;
}

#navbarSupportedContent .form-control:focus
{
    outline: none;
    box-shadow: none;
}

.third-nav .navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
}
/* third_nav_End */



/* hero sec start */

/* hero sec End */